@model IEnumerable<SNAT.Models.mBeneficiary>

@{
    ViewBag.Title = "Beneficiary Details";
    Layout = "~/Views/Shared/_LayoutMainMDI.cshtml";
}
<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMemberList" class="table table-striped table-hover" cellspacing="0">
                        <thead style="text-align:center" class="table-success">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.membernationalid)</th>
                                <th>@Html.DisplayNameFor(model => model.memberid)</th>
                                <th>@Html.DisplayNameFor(model => model.membername)</th>
                                <th>@Html.DisplayNameFor(model => model.beneficiarynatioanalid)</th>
                                <th>@Html.DisplayNameFor(model => model.beneficiaryname)</th>
                                <th>@Html.DisplayNameFor(model => model.dob)</th>
                                <th>@Html.DisplayNameFor(model => model.sex)</th>
                                <th>@Html.DisplayNameFor(model => model.wages)</th>
                                <th>@Html.DisplayNameFor(model => model.effactivedate)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.membernationalid)</td>
                                <td>@Html.DisplayFor(modelItem => item.memberid)</td>
                                <td>@Html.DisplayFor(modelItem => item.membername)</td>
                                <td>@Html.DisplayFor(modelItem => item.beneficiarynatioanalid)</td>
                                <td>@Html.DisplayFor(modelItem => item.beneficiaryname)</td>

                                @{
                                    if (item.dob.HasValue)
                                    {
                                        <td>
                                            @item.dob.Value.ToString("MM/dd/yyyy")
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }


                                @{
                                    if (item.sex == "M")
                                    {
                                        <td>Male</td>
                                    }
                                    else
                                    {
                                        <td>Female</td>
                                    }
                                }


                                <td>  @Html.DisplayFor(modelItem => item.wages)</td>
                                @{
                                    if (item.effactivedate.HasValue)
                                    {
                                        <td>
                                            @item.effactivedate.Value.ToString("MM/dd/yyyy")
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                <td>
                                    <div class="row">
                                        <div class="form-group col-md-5 col-sm-4 mx-2">
                                            <div class="input-group">
                                                <a href="@Url.Action("Details", "Beneficiaries", new {  id=item.beneficiarynatioanalid })" class="btn btn-success btn-sm" data-toggle="tooltip" title="Details"><i class="fas fa-list"></i></a>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-5 col-sm-4 mx-2">
                                            <div class="input-group">
                                                <a href="@Url.Action("Index", "BeneficiaryDocument", new {  StrBeneficiaryID=item.beneficiarynatioanalid })" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Document(s)"><i class="fas fa-file"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tblMemberList').DataTable();
    });
</script>
<!-- #region commemnted Code -->
@*code here


    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.memberid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.membername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beneficiaryname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateofsubmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactno1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactno2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.residentaladrees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomineenationalid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomineename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.effactivedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.livingstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateofDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.memberid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beneficiaryname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateofsubmission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.relationship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contactno1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contactno2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.residentaladrees)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomineenationalid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomineename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.effactivedate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.livingstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateofDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>*@
<!--#endregion -->