<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @*<link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="../dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../dist/css/demo.css">
    <link rel="stylesheet" href="../dist/css/style.css">
    <link rel="stylesheet" href="~/Content/datatables.min.css">

    <script src="../dist/modules/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<body class="bg-light">
    @*<nav class="navbar navbar-expand navbar-dark bg-primary">
            <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
            <a class="navbar-brand" href="https://bootadmin.net">BootAdmin</a>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @HttpContext.Current.User.Identity.Name</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                            <a href="#" class="dropdown-item">@Session["UserType"]</a>
                            <a href="#" class="dropdown-item">@Session["UserEmail"]</a>
                            <a href="#" class="dropdown-item">@Session["UserPhone"]</a>

                            <a href="@Url.Action("LogOff", "Login")" class="dropdown-item" data-toggle="tooltip" title="Edit">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>*@

    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn" type="submit"><i class="ion ion-search"></i></button>
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="../dist/img/avatar/avatar-1.jpeg" width="35" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi,  @HttpContext.Current.User.Identity.Name</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right ">
                            <div class="dropdown-header">User Details</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="ion ion-android-person"></i> @Session["UserType"]
                            </a>
                            <a href="features-activities.html" class="dropdown-item has-icon">
                                <i class="ion ion-ios-email"></i> @Session["UserEmail"]
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="ion ion-android-phone-portrait"></i> @Session["UserPhone"]
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("LogOff", "Login")" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>

                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">Stisla Lite</a>
                    </div>
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="../dist/img/avatar/avatar-1.jpeg">
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">@HttpContext.Current.User.Identity.Name</div>
                            <div class="user-role">
                                Administrator
                            </div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="active">
                            <a href="index.html"><i class="ion ion-speedometer"></i><span>Dashboard</span></a>
                        </li>

                        <li class="menu-header">Member(s)</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="fas fa-users"></i><span>Member(s) Details</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="@Url.Action("Index", "Members")"><i class="ion ion-ios-circle-outline"></i> Member(s)</a></li>
                                <li><a href="@Url.Action("Index", "Beneficiaries")"><i class="ion ion-ios-circle-outline"></i> Beneficiarie(s)</a></li>
                                <li><a href="@Url.Action("Index", "MemberDocuments")"><i class="ion ion-ios-circle-outline"></i> Document(s)</a></li>

                            </ul>
                        </li>
                        <li class="menu-header">Premium</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="fas fa-dollar-sign"></i><span>Premium Detail(s)</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="@Url.Action("Index", "WagesUpload")"><i class="ion ion-ios-circle-outline"></i> Premium Uploaded</a></li>
                                @*<li><a href="@Url.Action("Index", "MemberWegesProcesses")"><i class="ion ion-ios-circle-outline"></i> Premium Approved</a></li>*@
                            </ul>
                        </li>
                        <li class="menu-header">Claim(s)</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="ion ion-document"></i><span>Claim Detail(s)</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i> Claim(s)</a></li>
                                <li><a href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i> Cheque Document(s)</a></li>
                                <li><a href="flag.html"><i class="ion ion-ios-circle-outline"></i> Claim Document(s)</a></li>
                            </ul>
                        </li>
                        <li class="menu-header">User(s) &amp; Employee(s)</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="fa fa-user"></i><span>User Detail(s)</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i> Employee(s)</a></li>
                                <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i> User(s)</a></li>
                                <li><a href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i> User Rights(s)</a></li>
                            </ul>
                        </li>

                        <li class="menu-header">Refrence(s)</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="fas fa-asterisk"></i><span>Master Data</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="@Url.Action("Index", "Schools")"><i class="ion ion-ios-circle-outline"></i> School List</a></li>
                                <li><a href="@Url.Action("Index", "DocumentTypes")"><i class="ion ion-ios-circle-outline"></i> Document Type</a></li>
                                <li><a href="@Url.Action("Index", "ClaimDocumentType")"><i class="ion ion-ios-circle-outline"></i> Claim Document Type</a></li>
                                <li><a href="@Url.Action("Index", "ChequeDocumentType")"><i class="ion ion-ios-circle-outline"></i> Cheque Document Type</a></li>
                            </ul>
                        </li>
                        <li class="menu-header">Report(s)</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="ion ion-flag"></i><span>Report(s)</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i> School Type</a></li>
                                <li><a href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i> Document Type</a></li>
                                <li><a href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i> Claim Document Type</a></li>
                                <li><a href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i> Cheque Document Type</a></li>
                            </ul>
                        </li>
                    </ul>

                </aside>
            </div>
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <div>@ViewBag.Title</div>
                    </div>
                    @RenderBody()
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2019 <div class="bullet"></div> Design By A&amp;A Technology</a>
                </div>
                <div class="footer-right"></div>
            </footer>
        </div>
    </div>


    <script src="../dist/modules/popper.js"></script>
    <script src="../dist/modules/tooltip.js"></script>
    <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="../dist/js/sa-functions.js"></script>
    <script src="../dist/modules/chart.min.js"></script>
    <script src="../dist/modules/summernote/summernote-lite.js"></script>
    <script src="../dist/js/scripts.js"></script>
    <script src="../dist/js/custom.js"></script>
    <script src="../dist/js/demo.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/bootadmin.min.js"></script>
</body>
</html>
