@model IEnumerable<SNAT.Models.mMemberWegesProcess>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainMDI.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.memTSCNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wagecredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wagePending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wagebalnace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memWegeRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processingdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.luploaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processeddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cApprovalRemarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.memTSCNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wagecredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wagePending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wagebalnace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memWegeRemarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processingdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.luploaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cProcessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lProcessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processeddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cApprovalRemarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
