@model AdminDashBoard.Models.mLogin

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Forget Password</title>
    <!-- Tell the browser to be responsive to screen width -->
    @Styles.Render("~/bundles/CSSbootstrapMin", "~/bundles/CSSfontAwesome", "~/bundles/CSSAdminLTE")
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken();

        <div class="login-box">
            <div class="login-logo">
                <a href="#"><b>Admin</b>LTE</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Enter Email Id To Reset Password</p>

                <div class="form-group has-feedback">

                    @Html.TextBoxFor(ml => ml.UserID, null, new { @class = "form-control", @placeholder = "Enter Login Email-Id", @required = "required", })
                    @Html.ValidationMessageFor(ml => ml.UserID, "", new { @class = "text-danger" })
                    @*<input type="email" class="form-control" placeholder="Email">*@
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">

                        @Html.ActionLink("Sign-In", "Index", "Login", new { @class = "btn btn-primary btn-block btn-flat" })
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Reset Password</button>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.login-box-body -->

    }
    <!-- /.login-box -->
    @Scripts.Render("~/bundles/JSJQueryVersioin", "~/bundles/JSJQueryMin")

    
</body>
</html>